.channels-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

  > app-channel {
    display: flex;
    justify-content: center;
    z-index: 1
  }

  @media (min-width: 320px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.channels-count {
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

