@import "src/assets/styles/variables";

.show-more-text {
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  display: block;
  color: rgba($gray, 0.4)
}

.show-more-icon {
  width: 27px;
  height: 27px;
  display: block;
  background: url('/assets/images/icons/refresh.svg');
  margin: 0 auto;
}

:host {
  cursor: pointer;
  padding: 20px;
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

:host(:hover) {
  .show-more-icon {
    animation: rotation 1.5s infinite;
  }
}
